
<div class="question-remind">你需要註冊會員才能提問</div>
<div class="col-md-8">
  <!----問題列表---->
  <h3>Top Questions：</h3>
  <% @questions.each do |question| %>
    <%= render partial: "shared/question-data", locals: {question: question} %>
  <% end %>
</div>

<div class="col-md-4">
  
</div>
