<div class="row">
  <div class="col-md-12">
    <h1>User List</h1>

    <% @users.each do |user| %>
      <ul>
        <li><%= link_to user.name, user_path(user) %></li>
      </ul>
    <% end %>

  </div>
</div>
