<% unless question.is_favorited?(current_user) %>
  <%= link_to favorite_logger_question_path(question) ,method: :post do%>
    <buttom class="btn btn-warning"><span>Favorite ( <%= question.favorites.count %> )</span></buttom>
  <% end %>
<% else %>
  <%= link_to unfavorite_logger_question_path(question) ,method: :post do %>
    <buttom class="btn btn-warning"><span>Favorite ( <%= question.favorites.count %> )</span></buttom>
  <% end %>
<% end %>