<!----問題表格---->

<%= render partial: "shared/question-list" %>

<!-- 以下放 hashtags  -->
<div class="col-md-4">
  <h4>Click to Search by Tag:</h4>
  <%= link_to 'All',root_path,class:"btn tag-btn" %>
  <% @hashtags.each do |hashtag| %>
    <% if hashtag.name == @hashtag.name %>
      <%= link_to hashtag.name, hashtag_path(hashtag), class: 'btn tag-btn-active' %>
    <% else %>
      <%= link_to hashtag.name, hashtag_path(hashtag), class: 'btn tag-btn' %>
    <% end %>
  <% end %>
</div>