<div class="container">
  <div class="row">
    <div class="question-show col-md-12">
      <h3><%= @question.topic %></h3>
      <div class="clearfix"></div>
      <hr>
      <div class="col-md-7">
        <!----瀏覽問題---->    
        <h4><strong>Question:</strong></h4>
        <h5><%= simple_format(@question.content) %></h5>
        <span>
          Ask <%= time_ago_in_words(@question.created_at) %> ago
          -by <%= link_to @question.user.name,user_path(@question.user) %>
        </span>
        <div class="clearfix"></div>
        <hr>
        <!----回答留言---->

        
      </div> 
      <div class="col-md-5">
        
      </div>
    </div>
  </div>
</div>
